@model IEnumerable<Seguros.Models.Poliza>

<p>
	@Html.ActionLink("Crear poliza", "Polizas")
	@Html.ActionLink("Crear cliente", "Clientes", "Clientes")
</p>
<table class="table">
	<tr>
		<th>
			
			@Html.DisplayNameFor(model => model.idPoliza)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Riesgo.nivel)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.nombre)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.descripcion)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.periodo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.precio)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
	<tr>
		<td id="tdPoliza">
			@Html.DisplayFor(modelItem => item.idPoliza)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Riesgo.nivel)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.nombre)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.descripcion)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.periodo)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.precio)
		</td>
		<td>
			@*<button id="Btneditar" onclick="editarPoliza" >Editar</button>|*@
			@Html.ActionLink("Editar", "EditarPoliza", new { id = item.idPoliza }) 

			
		</td>
	</tr>
	}

</table>
